<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az-fn-ar-digital-twin-libcal-rooms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/34ac7b1c-8fe6-4390-9559-30fd2ce07115/resourceGroups/FAU-AR-digitaltwin/providers/Microsoft.Web/sites/az-fn-ar-digital-twin-libcal-rooms</ResourceId>
    <UserName>$az-fn-ar-digital-twin-libcal-rooms</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az-fn-ar-digital-twin-libcal-rooms.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>